body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
 
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}
label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
select, button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #333;
  border-radius: 8px;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}
button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}
#estimateResult {
  font-size: 1.2rem;
  text-align: left;
}
.city-form {
background-color: #f4f4f4;
padding: 20px;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
display: flex;
flex-direction: column;
align-items: center;
}
label {
margin-bottom: 10px;
font-weight: bold;
}
input[type="text"] {
padding: 8px;
border: 1px solid #ccc;
border-radius: 5px;
width: 100%;
margin-bottom: 10px;
}
button {
background-color: #007BFF;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}
button:hover {
background-color: #0056b3;
}
.container-1{
position:relative;
right:80px;
}

/* Media queries for responsive design */
@media screen and (max-width: 600px) {
  .container {
    padding: 1rem;
  }
  select, button {
    font-size: 0.9rem;
    padding: 0.3rem 0.7rem;
  }
}
  