
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculate AQHI</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f3f3f3;
    }
    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 1rem;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    h1 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-align: center;
    }
    label {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      display: block;
    }
    input[type="text"] {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
      margin-bottom: 1rem;
      box-sizing: border-box;
    }
    button {
      background-color: #333;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      cursor: pointer;
      width: 100%;
    }
    button:hover {
      background-color: #444;
    }
    h2 {
      font-size: 1.2rem;
      margin-top: 1rem;
    }
    #aqhiValue {
      font-weight: bold;
      color: #23b9c4;
    }

    /* Media queries for responsive design */
    @media screen and (max-width: 600px) {
      .container {
        padding: 0.5rem;
        max-width: 300px;
      }
      input[type="text"], button {
        font-size: 0.9rem;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Calculate Air Quality Health Index (AQHI)</h1>
  
    <form action="/calculate-aqhi" method="POST">
      <label for="O3">O3 (Ozone): </label>
      <input type="text" name="O3" required><br>
      
      <label for="NO2">NO2 (Nitrogen Dioxide): </label>
      <input type="text" name="NO2" required><br>
      
      <label for="PM">PM (Particulate Matter): </label>
      <input type="text" name="PM" required><br>
      
      <button type="submit">Calculate AQHI</button>
    </form>

    <!-- ... your form ... -->

    <% if (typeof aqhi !== 'undefined') { %>
      <h2>Air Quality Health Index (AQHI): <span id="aqhiValue"><%= aqhi.airQualityHealthIndex %></span></h2>
    <% } %>
    <script>
      function updateAQHIValue() {
        fetch('/calculate-aqhi') // Assuming you have an endpoint to get the AQHI value
          .then(response => response.json())
          .then(data => {
            const aqhiValueSpan = document.getElementById('aqhiValue');
            aqhiValueSpan.textContent = data.airQualityHealthIndex;
          })
          .catch(error => {
            console.error('Error fetching AQHI:', error);
          });
      }
    
      // Update AQHI value every 30 seconds (adjust the interval as needed)
      setInterval(updateAQHIValue, 30000);
    </script>
  </div>
</body>
</html>

